body, input, textarea, select, button, table {
    font-family: 돋움, Dotum, tahoma;
    font-size: 100%;
}
body, div, dl, dt, dd, ul, ol, menu, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p {
    margin: 0;
    padding: 0;
}

/*************** Body ***************/
.container{
    height: 100%;
    min-width: 980px;
    background-color: #fff;
}

.contents{
    width: 820px;
    margin: 0 auto;
    position: relative;
}

.main-section {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

/*************** Header ***************/
.header{
    border-bottom: 1px solid grey;
    padding: 7px 0px;
    margin-bottom:20px;
    font-weight: bold;
}

/*************** Product List ***************/
.product-list .product-item{list-style-type: none;position: relative;float: left;}
.product-list .product-item a{display:block;}



/*************** One Unit ***************/

/*for toggling event*/
.toggle{float:right !important;}
.title-one.toggle{margin-top: 360px;}
.title-two.toggle{margin-top: 360px;padding: 0;margin-right: 20px;}
.title-three.toggle{margin-top: -710px;padding:0;}
.title-four.toggle{margin-top: -710px;margin-right: 320px;}
.layout-button{width: 820px;height: 40px;}
.layout-button .change-button{list-style-type: none;float: right;background-color: #91CEFB;width: 164px;height: 38px;font-size: 14px;}
.change-button a{display: block;width: 162px;height: 24px;border: #ccc solid 1px;color: #222;font-size: 12px;text-align:center;line-height: 12px;padding-top: 13px;text-decoration:none;}


.one-unit{height: 720px;margin-bottom: 20px;}
.header h2{font: bold 1.2em Tahoma;}

.title-one{width:500px;height:360px;float: left;}
.title-one .main{width: 460px;height: 125px;padding: 20px;background-color:#f9f9f9;}
.title-one .main img{float: left;}
.title-one .main .product-info{width:320px;display: inline-block;float: left;margin-left: 10px;}
.title-one .main .product-info .product-name{font-size: 16px;margin-bottom: 10px;}
.title-one .main .product-info .product-desc{font-size: 13px;margin-bottom: 15px;}
.title-one .main .product-info .product-price{font-size: 28px;color:#099BE8;}
.title-one .product-info > span{display: block;}
.title-one .sub{width:500px;height:120px;}
.title-one .sub .product-item img{width:119px;}
.title-one .sub .product-info{width: 119px;}
.title-one .sub .product-info .product-name{height: 14px;padding: 5px 0px 0px;font-size: 12px;color: #33353d;font-weight: normal;text-overflow: ellipsis;line-height: 14px;overflow: hidden;white-space: nowrap;}
.title-one .sub .product-info .product-price{font-size: 12px;}
.title-one .sub .product-info .product-price strong{font: 300 12px Tahoma;color:#099BE8;}
.title-one .sub .product-list{padding-top: 12px;}
.title-one .sub .product-list .product-item:first-child{margin-left: 0px;}
.title-one .sub .product-list .product-item{width: 119px;height: 80px;font-size: 12px;margin-left:8px;}

.title-two{width:300px;height:360px;float: left;padding-left:20px;}
.title-two .product-list .product-item{width: 300px;height: 86px;margin-bottom:15px;}

.title-three{width:300px;height:350px;float: left;padding-right:20px;}
.title-three .product-list .product-item{width: 92px;height: 82px;margin-bottom:15px;margin-right:12px;}
.title-three .product-list .product-item:nth-child(3n){margin-right:0px;}

.title-four{width:500px;height:350px;float: left;}
.title-four .product-list{width: 500px;height: 280px;}
.title-four .product-list .product-item{font-size: 12px;width: 500px;height: 16px;margin-bottom: 6px;}
.title-four .product-list .product-item span strong{font: bold 10px Tahoma;}


/*************** Two Unit ***************/

.two-unit{width:820px;height:250px;margin-top:50px;}

/*for tabs*/
.tab{height: 50px;list-style-type: none;margin: 0;overflow: hidden;padding: 0;width: 820px;}
.tab li{float: left;border-right:1px solid white;background-color: #f1f1f1;text-align:center;height:50px;}
.tab li:last-child{border-right:none;}
.tab li a {color: black;display:block;font-size: 17px;padding: 14px 16px;text-align: center;text-decoration: none;transition: 0.3s;}
.tab li a:hover {background-color: #ddd;}
.tab li a:focus, .active {background-color: #ccc !important;}
.tabcontent{height:1000px;border:1px solid black;display:none;}

/*tab one*/
#one .product-list{height: 312px;}
#one .product-item{margin:0px 11px 12px 0px;}
#one .product-item.large{float:right;margin:0px;}

/*tab two*/
.slider{width:370px;height:495px;}
.slider-display{height:360px;border:2px solid black;}
.slider-control{margin-top:10px;height:135px;padding:15px 0px;}
.slider-control div{float: left;}
.slider-control .left-arrow, .slider-control .options, .slider-control .right-arrow{float:left;}
.left-arrow,.right-arrow{height: 100px;width: 60px;}
.left-arrow img,.right-arrow img{margin-top:9px;}
.slider-control .left-arrow{}
.slider-control .slides{height: 76px;width: 230px;margin:0 10px;overflow:hidden;}
.slider-control .options{width:4000px;height:78px}
.slider-control .options .option{display: inline-block;float: left;width: 60px;height: 60px;margin: 8px 6px;border: 2px solid black;}
.slider-control .right-arrow{}
.option div{width:50px;height:50px;padding:5px;}
.current{border:2px solid red !important;}
.color1{background-color:#ff9999;}
.color2{background-color:#99ff99;}
.color3{background-color:#ffff99;}
.color4{background-color:#cc99ff;}
.color5{background-color:#ffcc99;}
.color6{background-color:#c1ad99;}
.color7{background-color:#9999ff;}
.color8{background-color:#999999;}

/*tab three*/
.furniture-product{width:252px;}
.furniture-product .product-item{  border:1px solid #d6d6d6;margin-bottom:20px;}
.furniture-product .product-item img{width:350px;height:398px;}
.furniture-product .product-item .product-link{width:200px;height:50px;border:1px solid black;width: 200px;height: 50px;border: 1px solid black;position: absolute;background: #4285F4;top: 130px;left: 75px;text-align: center;display: none;}
.furniture-product .product-item .product-link a,.furniture-product .product-item .product-link-home a{text-decoration: none;color: black;width: 200px;height: 50px;line-height:3;outline: 0;}
.furniture-product .product-item:hover .product-link a,.furniture-product .product-item:hover .product-link-home a{cursor: pointer;}
.furniture-product .product-item .product-link-home{width:200px;height:50px;border:1px solid black;width: 200px;height: 50px;border: 1px solid black;position: absolute;background: #4285F4;top: 200px;left: 75px;text-align: center;display: none;}
.furniture-product .product-item:hover .product-link,.furniture-product .product-item:hover .product-link-home{display: list-item;z-index: 1;}
.furniture-product .product-item:hover{border:1px solid #0096e4;position: relative;}
.furniture-product .product-item:after{background-color:grey;position: absolute;content:"";top:0;left:0;width:100%;height:100%;opacity:0;}
.furniture-product .product-item:hover:after{opacity:0.5;}
/*ie7 and ie8 hover over*/
.furniture-product .product-item:hover .after{background-color:black;position: absolute;content:"";top:0;left:0;width:100%;height:100%;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);}
.product-item{*zoom: expression(this.runtimeStyle['zoom'] = '1',this.appendChild(document.createElement("i")).className="after");}


/*tab four*/
table, td, th{border: 1px solid black;font-size: 14px;}
table{border-collapse: collapse;width: 100%;}
th{height: 50px;}
.form input{border:1px solid grey;margin:5px 0;}
.id input,.phone input, .name input, .email input, .password input, .password-verify input{width:120px;}
.phone input{width:75px;}
.id-error,.phone-error, .password-error, .gender-error, .name-error, .email-error, .agreement-error, .password-verify-error{color:red;display:none;}
.error{border:1px solid red !important;}
.submit{width:150px;height:50px;}

/**tab five*/
#five .header{border:none;margin:0px;padding:0px;}
.hamburger-content{width:75px;}
.hamburger-content img{width:75px;}
.hamburger-content .product-list{width:180px;position:relative;display:none;}
.hamburger-content:hover .product-list{display:block;}
.hamburger-content .product-list .product-item{position:static;display:block;border:1px solid black;width:178px;height: 45px;line-height: 2.6;text-align: center;}
.hamburger-content .product-list .product-item:hover{background-color:#b3d4fc;}
.hamburger-content .product-list .product-item:hover .product-item-sub{display:block;}
.hamburger-content .product-list .product-item .product-item-sub{width: 70px;height: 35px;position: absolute;top: 0px;left: 179px;display:none;}
